apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "twitch_channel_points_miner.fullname" . }}
  labels:
{{ include "twitch_channel_points_miner.labels" . | indent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "twitch_channel_points_miner.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "twitch_channel_points_miner.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
    {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          env:
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          tty: {{ .Values.twitch_channel_points_miner.tty }}
          stdin: {{ .Values.twitch_channel_points_miner.stdin }}
          args:
            {{- if .Values.twitch_channel_points_miner.args }}
            {{- toYaml .Values.twitch_channel_points_miner.args | nindent 12 }}
            {{- else }}
            {{- end }}
          ports:
            - name: server
              containerPort: 2222
              protocol: UDP
          volumeMounts:
          - name: config
            mountPath: /twitch_channel_points_miner
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      volumes:
      - name: config
      {{- if .Values.persistence.config.enabled }}
        persistentVolumeClaim:
          claimName: {{ template "twitch_channel_points_miner.fullname" .  }}-config
      {{- else }}
        emptyDir: {}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
